* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

.article {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 5px 5px 20px 5px;
}

.preview {
    height: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hoverimg {
    display: none;
}

.preview > span {
    background-color: white;
    position:absolute;
    top: 10px;
    right: 0;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 2em;
}

.sconto {
    background-color: red;
}

.bio {
    background-color: green;
}

.etichette {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
}

.sconto, .bio {
    padding: 0.2em;
}

.brand, .original {
    color: gray;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}

.name, .price, .etichette {
    font-weight: bold;
}

.brand, .price {
    font-size: .7rem;    
}

.price {
    color: red;
}

.original {
    text-decoration: line-through;
}

.brand, .name, .price {
    margin: .2em 0;
}

.article:hover .display {
    display: none;
}

.article:hover .hoverimg {
    display: initial;
}